{%extends 'polls/base.html'%} {%block content%} {%if umfrage%}
<h1>{{umfrage.name}}</h1>
<h2>Antwortmöglichkeiten</h2>
{%if umfrage.choice_set.all%}
<form method="post" action="{%url 'vote' umfrage.slug%}">
    {%csrf_token%} {%for choice in umfrage.choice_set.all%}
    <input type="radio" name="choice" value="{{choice.id}}" id="{{forloop.counter}}">
    <label for="choice{{forloop.counter}}">{{choice.name}}</label> {%endfor%}
    <input type="submit" value="Antwort absenden">
</form> {%else%}
<p>Keine Antworten verfügbar</p>
{%endif%} {%else%}
<h1>Es kann keine Umfrage ausgegeben werden</h1>
{%endif%}{%endblock%}